.dashboard {
  font-size: 1.125rem;
  &__card {
    border-radius: 3px;
    box-shadow: 2px 3px 5px rgba(52, 51, 51, 0.35);
    padding: 14px 18px;
    width: 100%;
    & + & {
      margin-top: 30px;
    }
    &.grey {
      background-color: #efefef;
    }
    &.yellow {
      background-color: #fbeac3;
    }
    &.green {
      background-color: #dbfbd5;
    }
    > h5 {
      color: #e41e13;
      font-size: 1.25rem;
      font-weight: 400;
      margin-bottom: 10px;
    }
    > ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      li + li {
        margin-top: 3px;
      }
       li {
         span {
           &:first-child {
             display: inline-block;
             min-width: 165px;
             padding-right: 20px;
           }
           &:last-child {
             font-weight: 700;
             &.green {
               color: #14ca01;
             }
             &.red {
               color: #e41e13;
             }
             &.yellow {
               color: #e6cb17;
             }
           }
         }

       }
    }
    &.review {
      text-align: center;
      ul {
        display: flex;
        justify-content: space-around;
        font-size: 1rem;
        li {
          margin-top: 0;
        }
        div {
          margin-top: 5px;
          &.number {
            color: #e41e13;
          }
        }
      }
      .fa {
        font-size: 3.0625rem;
      }
    }
  }
}