.header {
  min-height: 100px;
  &--top {
    background-color: #333333;
    color: #ffffff;
    a {
      color: #ffffff;
    }
  }
  &__links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-bottom: 0;
    min-height: 38px;
    padding-left: 0;
    width: 100%;
    li {
      height: 100%;
      padding: 0 18px;
      position: relative;
      a {
        display: inline-block;
        line-height: 38px;
        text-decoration: none;
        img {
          display: inline-block;
          width: 22px;
          margin-right: 10px;
        }
      }
      &:not(:first-child):not(:last-child):before {
        content: '|';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
      &:last-child {
        background-color: #e41e13;
        &:hover {
          background-color: #af000d;
        }
      }
    }
  }
  &--main {
    background-color: #efefef;
    border-bottom: solid 1px #d8d7d7;
    box-shadow: 1px 1px 2px #e4e4e4;
  }
  &__logo {
    padding-top: 12px;
    padding-bottom: 12px;
    img {
      width: 172px;
    }
  }
}

.main {
  &--content {
    min-height: calc(100vh - 151px);
  }
  &__title {
    padding-bottom: 18px;
    padding-top: 18px;
    h2 {
      font-size: 1.75rem;
      font-weight: 400;
      margin-bottom: 3px;
      .fa {
        color: #e41f14;
        display: inline-block;
        margin: 0 6px;
        font-size: 2rem;
      }
    }
    .date {
      color: #666666;
      font-size: 1rem;
    }
    .note {
      color: #e41e13;
      font-size: 1.375rem;
      padding-bottom: 10px;
      font-style: italic;
    }
  }
  &__filter {
    padding-bottom: 18px;
    padding-top: 18px;
    margin-bottom: 0;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    .by-date {
      position: relative;
    }
    &--by-date {
      .form-group + .form-group {
        margin-left: 20px;
      }
      input, select {
        width: 236px;
        font-size: 1rem;
        font-weight: 300;
        font-style: italic;
      }
      input[type="text"] {
        width: 190px;
      }
      .fa-calendar {
        color: #cccccc;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 1.375rem;
        pointer-events: none;
      }
    }
    &--by-cate {
      display: flex;
      justify-content: flex-end;
      .select {
        margin-bottom: 0;
        width: 215px;
        + .select {
          margin-left: 20px;
        }
        select {
          font-size: 1rem;
          font-weight: 300;
          font-style: italic;
          padding-right: 0;
        }
      }
    }
  }
}

.footer {
  height: 41px;
  &--copyright {
    border-top: solid 1px #cccccc;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    i {
      font-style: normal;
    }
  }
}