@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&display=swap');
:root {
  font-size: 16px;
}

html, body {
  min-height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  line-height: 1.42857143;
  overflow-x: hidden;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  color: #e41e13;
}

a:active,
a:hover,
a:focus {
  color: #e41e13;
  outline: none;
}

.form-group {
  label {
    margin-bottom: 4px;
    font-size: 1.5rem;
    font-weight: 300;
  }
}

.form-control {
  border-radius: 0;
  border: solid 1px #cccccc;
  background: #fff;
  font-size: 1.5rem;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #333333;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #333333;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #333333;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #333333;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
  }
}

.form-group {
  margin-bottom: 1.375rem;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #ffffff;
}

.form-check,
.custom-control {
  margin-bottom: 1rem;
}

.custom-control-label::before {
  border-color: #989898;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #DE6D2E;
  border-color: #ffffff;
  background-color: #ffffff;
}

.custom-control-label::after {
  background: transparent no-repeat 50% / 75% 75%;
  border: solid 1px #989898;
  border-radius: 100%;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23f74'/%3e%3c/svg%3e");
}

.was-validated .form-control:valid,
.form-control.is-valid,
.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .form-control:valid:focus,
.form-control.is-valid:focus,
.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
  border-color: #b7b7b7;
  box-shadow: inherit;
}

.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before,
.custom-control-input.is-valid:checked ~ .custom-control-label::before,
.was-validated .custom-control-input:valid ~ .custom-control-label::before,
.custom-control-input.is-valid ~ .custom-control-label::before {
  border-color: inherit;
  background-color: inherit;
}

.was-validated .custom-control-input:valid ~ .custom-control-label,
.custom-control-input.is-valid ~ .custom-control-label {
  color: initial;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23e36d39' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}

.btn {
  font-family: 'Roboto', sans-serif;
  background: #e41e13;
  border: 0;
  box-shadow: none !important;
  border-radius: 0;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 38px;
  color: #ffffff;
  min-width: 220px;
  min-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  .fa {
    font-size: 2rem;
  }
}

.btn-primary,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  background: #e41e13;
  .fa {
    margin-left: 15px;
  }
}

.btn-secondary,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active {
  background: #cccccc;
  color: #666666;
  .fa {
    margin-right: 15px;
  }
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #af000d;
  color: #ffffff;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background: #acacac;
  color: #666666;
}

.btn-secondary:hover {
  border: 0;
  min-height: 50px;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #ff201d;
}

.card {
  border: 0;
  border-radius: 0;
}
.card-body {
  padding: 1.25rem 0;
}
.card-title {
  line-height: 24px;
  margin-bottom: 20px;
  a {
    color: #1A1B1C;
    text-decoration: none;
    font-size: 1rem;
    &:hover {
      color: #DE6D2E;
    }
  }
}

.card-img-top,
.card-footer {
  border-radius: 0;
}

.container {
  max-width: 1280px;
}

@media (min-width: 992px){
  .modal-lg, .modal-xl {
    max-width: 990px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .modal-lg, .modal-xl {
    max-width: 700px;
  }
}

.modal-header {
  border-bottom: 0;
}