.fp-viewing-start {
  &-slide1 {
    .service {
      background: url("../images/service-0.jpg") center;
      background-size: cover;
    }
  }
  &-slide2 {
    .service {
      background: url("../images/service-01.jpg") center;
      background-size: cover;
    }
  }
}
.service {
  .main {
    &--content {
      height: calc(100vh - 141px) !important;
    }
  }
  footer {
    background-color: rgba(255, 255, 255, 0.45);
    color: #ffffff;
  }
  &__welcome {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 36px 28px;
    max-width: 500px;
    h2 {
      font-size: 1.75rem;
      margin-bottom: 1.875rem;
    }
    &--desc {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.625rem;
      margin-bottom: 2rem;
    }
  }
  &__choices {
    img {
      width: 100%;
    }
    h3 {
      font-size: 1.75rem;
      text-transform: uppercase;
      margin: 1rem 0;
      padding: 0 20px;
    }
    &--item {
      border: solid 1px #cccccc;
      padding-bottom: 20px;
    }
    &--desc {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.625rem;
      margin-bottom: 2rem;
      padding: 0 20px;
      min-height: 80px;
    }
    .action-toolbar {
      padding: 0 20px;
      .btn {
        width: 100%;
      }
    }
  }
}